body {background-color: #4abfda}
h1 {color: #5303f3}
h1 {font-size:30px}
h1 {font-family: Garamond;TimesNewRoman; sans-sarif}

h3 {color: #5303f3}
h3 {font-size:20px}
h3 {font-family: Garamond;TimesNewRoman; sans-sarif}

h4 {color: #5303f3}
h4 {font-size:16px}
h4 {font-family: Garamond;TimesNewRoman; sans-sarif}
