body {background-color: #4abfda}
h1 {color: #5303f3}
h1 {font-size:30px}
h1 {font-family: Garamond;TimesNewRoman; sans-sarif}

h3 {color: #00008b}
h3 {font-size:20px}
h3 {font-family: Garamond;TimesNewRoman; sans-sarif}
h3 {font-weight: bold;}

h4 {color: #483d8b}
h4 {font-size:16px}
h4 {font-family: Garamond;TimesNewRoman; sans-sarif}

h5 {font-family: Arial;TimesNewRoman;}
h6 {font-family: Arial;TimesNewRoman;}

ul {font-family: Arial;TimesNewRoman;}

body 
{
  margin: 0;
  padding: 0;
}
.box
{
  width: 800px
  height: 1600px
  position: absolute;
  top: 50%;
  left: 50%
  transform: translate(-50%,-50%);
  border: 4px solid transparent;
  border-image: linear-gradient(45deg, #ff0, #f0f, #f00, #00f, #0f0);
  border-image-slice: 1;
    
}
